# http://editorconfig.org
root = true
[*] # 表示所有文件适用5charset = utf-8 # 设置文件字符集为 utf-8
indent_style = space # 编进风格 tob space
indent_size = 2 #缩进大小
end_of_line = lf # 制换行类型(1f cr  crlF)
trim_trailing_whitespace = true # 去行首的仔赢空白字符
insert_final_newline = true # 始终在文件未尾插入一个新行11
[*.md] #表示仅 md 文件适用以下规则
max_line_length = off
trim_trailing_whitespace = false
